v/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

h1, h2, h4, h5 {
	color: #333333;
}
h4 {
	color: #888888;
}

.friends_image {
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	transition: all 0.2s ease-in-out;

}

.friends_image img { 
	padding: 4px;
	max-width: 400px;
	text-align: center;
	border-radius: 20px;
}
.friends_image h3 {
	padding: 4px;
}
.friends_image p {
	padding: 4px;
}



